:root {
--title-text-color: #212121;

}


.list
{
    list-style: none;
}
.link {
    text-decoration: none;
}

.body-font {
    font-family: 'Roboto', sans-serif;
}


/* header */

.logo {
    font-family: 'Raleway' , sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-accent {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #000000;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.menu-link:hover,
.menu-link:focus { 
    color: #2196F3; 
}


.tel-mail-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: #757575;
}


.tel-mail-header:hover,
.tel-mail-header:hover:focus {
    color: #2196F3;
}


/* body */

.efect-solution {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.m-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    font-family: 'Roboto', sans-serif;
    /* identical to box height, or 188% */
    display: flex;
    align-items: center;
     text-align: center;
     letter-spacing: 0.06em;
     background-color: #2196F3;
     color: white;
     border-radius: 4px;
     cursor: pointer;
}


.m-button:hover,
.m-button.primary:focus {
    background-color: #188ce8;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


.skills-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
        
}


.skills-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
}


.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}


.employee-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}


.employee-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

 /* footer */

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 0.6)
}


/* portfolio */


.portfolio-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}
 

.portfolio-button:hover,
.portfolio-button.primary:focus {
     background-color: #188ce8;
     color: white;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
}


.poster-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
     /* identical to box height, or 200% */
     letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.description-poster {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;
}